.red {
    background-color: rgba(255, 0, 0, 0.35) !important;
}
.yellow {
    background-color: rgba(255, 255, 0, 0.50) !important;
}
.green {
    background-color: rgba(0, 167, 0, 0.35) !important;
}
